.course-card-link {
  display: block;
  text-decoration: none;
}

.course-card {
  text-align: start;
  background-color: var(--off-white);
  padding: 1rem;
  color: var(--text-color);
  height: fit-content;
  border-radius: var(--corner-radius);
  outline: 1px solid transparent;
  transition:
    outline var(--transition),
    filter var(--transition);
  cursor: pointer;
  text-decoration: none;
}
.course-card:hover {
  transition:
    outline var(--transition),
    filter var(--transition);
  outline: 1px solid var(--light-blue);
  filter: drop-shadow(0.1rem 0.1rem 0.4rem var(--light-blue));
}

.course-card-title {
  margin: 0;
  font-size: var(--card-title-font-size);
  font-weight: bold;
  margin-bottom: 0.3rem;
}
.course-card-level {
  font-size: var(--card-text-font-size);
  margin: 0;
  color: var(--yellow);
  margin-bottom: 0.3rem;
}
.course-card-summary {
  font-size: var(--card-text-font-size);
  margin: 0;
  color: var(--light-blue);
}
