.button {
  padding: 0.5rem 0.8rem;
  background-color: var(--yellow);
  color: var(--dark-blue);
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-family: "Nunito sans", sans-serif;
  transition: var(--transition);
}
.button:hover {
  background-color: var(--light-blue);
  transition: var(--transition);
}
