@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  /* COLORS */
  --dark-blue: #223f59;
  --light-blue: #a0b1dd;
  --off-white: #f0ede5;
  --yellow: #d9b343;
  --text-color: #162737;
  --status-active-bg: #d8f5e3;
  --status-active-color: #0f5c2e;
  --status-pending-bg: #fff0cc;
  --status-pending-color: #8c6400;
  --status-completed-bg: #e4e8ff;
  --status-completed-color: #2f3e8c;
  --status-canceled-bg: #f5d8d8;
  --status-canceled-color: #5c0f0f;

  /* EFFECTS */
  --transition: 0.15s ease;
  --corner-radius: 10px;
  --drop-shadow: drop-shadow(0.1rem 0.1rem 0.1rem #999);
  /* SPACING */
  --section-padding: 1rem 2rem 2rem 2rem;
  /* SIZES */
  --card-title-font-size: 1.3rem;
  --card-text-font-size: 0.9rem;
}

html {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
}
